.bg-main {
    background-color: #00283d !important;
}

.main-secondary-color {
    color: #d6e03e !important;
}


.primary-color-text {
    color: #00283d !important;
}

.secondary-color-text {
    color: #d6e03e !important;
}

a:hover {
    color: #d6e03e !important;
}
